/*Las variables van arriba de todo*/
@import'./utilidades/colors';
@import'./utilidades/typo';
@import'./utilidades/reset';
@import'./utilidades/botones';

/*Secciones*/
@import './sections/header';
@import './sections/footer';
@import'./sections/indexmain';
@import './sections/atencion';
@import './sections/faq';
@import './sections/contacto';
@import'./sections/unidades';



html{
    font-size: 63%;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: none;/* Hack para box model */
}
body{
    font-size: 16px;
    color: $negro;
    background-color: $blanquito;
}

.contenido{
    max-width: 20000rem;
    margin: 0 auto;
    object-fit:cover;
    background-color: $blanquito;
}


.titulo{
    color: #000;
    text-align: left;
    margin-left: 30px;
    font-size: 30px;
}
.color-n{
    color: $celeste;
}

h1 {
    font-size: 3.8rem;
    font-weight: 200;
}

h2 {
    font-size: 2.8rem;
    color: $celeste;
    margin: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

/* HEADER */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}
.header a{
    text-decoration: none;
}
.header.encabezado{
    display: flex;
    margin-top: 1rem;
}

.header h1{
    font-weight: lighter;
}

.header span{
    font-weight: bold;
}


/* RESPONSIVE MEDIANOS*/
@media (max-width: 768px) {
    .header{
        display: flex!important;
        align-items: center;
        justify-content: space-around;
    }
}

/* RESPONSIVE PEQUEÑOS*/
@media (max-width: 425px) {
    .header{
        display: flex!important;
        align-items: center;
        justify-content: space-around;
    }
}

