.faq__lista{
    margin: 30px auto;
    width:800px
}
.faq__lista li{
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
}
.faq__lista li label{
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
    color:$celeste;
}
.faq__lista li label span{
    transform: rotate(90deg);
    font: size 22px;
    color: $celeste;
}
.faq__lista label + input[type="radio"]{
    display: none;
}
.faq__lista .content{
    padding: 0 20px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.faq__lista label + input[type="radio"]:checked + .content{
    max-height: 400px;
}

@media (max-width: 1490px){
    .faq__lista{
        width:600px
    }
}
@media (max-width: 1290px) {
    .faq__lista{
        width:500px
    }
}
@media (max-width: 1090px) {
    .faq__lista{
        width:400px
    }
}
@media (max-width: 780px) {
    .faq__lista{
        width:300px
    }
}
@media (max-width: 560px) {
    .faq__lista{
        width:200px
    }
}