/* CONTENIDO PRINCIPAL */
.main{
    background-color: #ffffff;
}
.box{
    background-image:url(../recursos/niño.jpg) ;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding:50px;
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.box p{
    display: block;
    bottom: 0;
    margin: 0rem;
    padding: 2rem;
    margin-left: 75rem;
    margin-right: 10rem;
    line-height: 1.4;
    font-size: 20px;
    font-family: arial;
    text-align:justify;
    text-justify: auto;
    border-radius: 25px;
    background: rgba(204, 204, 204, 0.5);
}
.boton_prin{
    margin-top: 10px;
    padding: 11px 11px;
    margin-left: 800px;
}
.contenido_extremo{
    display: grid;
    grid-template-columns: 500px 20px 500px;
    grid-template-rows: 70px 300px 70px 400px;
    padding: 3rem;
    gap: 0px 0px;
    justify-content: space-evenly;
    grid-template-areas:
        "areaA areaA areaA"
        "areaB areaC areaC"
        "areaD areaD areaD"
        "areaF areaF areaE"
        ;
    }   
.areaA { grid-area: areaA; }   
.areaB { grid-area: areaB; }
.areaC { grid-area: areaC; }
.areaD { grid-area: areaD; }
.areaE { grid-area: areaE; }
.areaF { grid-area: areaF; }
.areaC{
    object-fit:cover;
    max-height: 100%;
    transform: scale(0.9);
    height: 100%;
    margin: 0 auto;
}
.areaF{
    display: block;
    height: auto;
    object-fit: cover;
    max-height: 100%;
    overflow:hidden;
    transform: scale(0.9);
}
.areaB{
    margin: 3rem;
    padding: 4rem;
    display: block;
    margin-left: 2rem;
    margin-right: 0rem;
    margin-bottom: 8rem;
    line-height: 1.5;
    font-size: 16px;
    font-family: arial;
    text-align:justify;
    text-justify: auto;
    border-radius: 25px;
    background: rgba(204, 204, 204, 0.5);
}
.areaE{
    margin: 3rem;
    margin-right: 3rem;
    padding: 4rem;
    display: block;
    margin-bottom: 18rem;
    line-height: 1.5;
    font-size: 16px;
    font-family: arial;
    text-align:left;
    text-justify: auto;
    border-radius: 25px;
    background: rgba(204, 204, 204, 0.5);
    background-size: 70%;
}

.imagenes{
    display: flex;
}


/* RESPONSIVE MEDIANOS*/
@media (max-width: 1490px) {
    .box p{
        margin-left: 55rem;
    }   
    .contenido_extremo{
        display: grid;
        grid-template-columns: 600px 100px 600px;
        grid-template-rows: 70px 300px 70px 400px
        } 
    .areaB{
            margin-bottom: 2rem;
    }
}

@media (max-width: 1290px) {
    .box p{
        margin-left: 35rem;
        margin-right: 12rem;
    }    
    .boton_prin{
    margin-top: 10px;
    padding: 11px 11px;
    margin-left: 500px;
    }
    .contenido_extremo{
        display: grid;
        grid-template-columns: 500px 100px 500px;
        grid-template-rows: 70px 350px 70px 400px;
        align-items: center;
    } 
    .areaB{
        margin-bottom: 0rem;
    }
}

@media (max-width: 1090px) {
    .box{
        margin: 0 auto;
        padding:30px;
        width: 100vw;
        height: 80vh;
        background-size: cover;
        background-position: center;
    }
    .box p{
        margin-left: 35rem;
        margin-right: 0rem;
        font-size: 16px;
    }    
    .boton_prin{
    margin-top: 10px;
    padding: 11px 11px;
    margin-left: 400px;
    }
    
    .contenido_extremo{
        display: grid;
        grid-template-columns: 780px;
        grid-template-rows: 50px 200px 300px 50px 200px 400px;
        grid-template-areas:
        "areaA"
        "areaB"
        "areaC"
        "areaD"
        "areaE"
        "areaF"
    }   
    .areaB{
        margin-bottom: 3rem;
        margin: 3rem;
        padding: 4rem;
        display: block;
        margin-left: 12rem;
        margin-right: 4rem;
        line-height: 1.5;
        font-size: 14px;
    }
    .areaE{
        margin-bottom: 3rem;
        margin: 3rem;
        margin-left: 12rem;
        padding: 4rem;
        display: block;
        line-height: 1.5;
        font-size: 14px
    }
}


@media (max-width: 780px) {
    .box{
        margin: 0 auto;
        padding:10px;
        width: 100vw;
        height: 60vh;
        background-size: cover;
        background-position: center;
    }
    .box p{
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 16px;
    }    
    .boton_prin{
    margin-top: 15px;
    padding: 11px 11px;
    margin-left: 200px;
    }
    .contenido_extremo{
        display: grid;
        grid-template-columns: 560px;
        grid-template-rows: 50px 180px 350px 50px 200px 400px;
        grid-template-areas:
        "areaA"
        "areaB"
        "areaC"
        "areaD"
        "areaE"
        "areaF"
    }   
    .areaB{
        margin-bottom: 2rem;
        margin: 1rem;
        padding: 3rem;
        display: block;
        margin-left: 2rem;
        margin-right: 4rem;
        line-height: 1.5;
        font-size: 14px;
    }
    .areaE{
        margin-bottom: 4rem;
        margin: 3rem;
        margin-left: 2rem;
        padding: 3rem;
        display: block;
        line-height: 1.5;
        font-size: 14px
    }
    .areaC{
        margin-left: 2rem;
    }
}


/* RESPONSIVE PEQUEÑOS*/
@media (max-width: 560px) {
    .header{
        display: flex!important;
        align-items: center;
        justify-content: space-around;
    }
    .box{
        margin: 0 auto;
        padding:10px;
        width: 100vw;
        height: 80vh;
        background-size: cover;
        background-position: center;
    }
    .box p{
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 14px;
    }    
    .boton_prin{
    margin-top: 15px;
    padding: 11px 11px;
    margin-left: 10px;
    }
    .contenido_extremo{
        display: grid;
        justify-content: space-around;
        justify-items: center;
        grid-template-columns:320px;
        grid-template-rows: 100px 140px 300px 50px 130px 400px;
        grid-template-areas:
        "areaA"
        "areaB"
        "areaC"
        "areaD"
        "areaE"
        "areaF"
    }   
    .areaB{
        margin-bottom: 0rem;
        margin: 1rem;
        padding: 2rem;
        display: block;
        margin-left: 1rem;
        margin-right: 4rem;
        line-height: 1.5;
        font-size: 12px;
    }
    .areaE{
        margin-bottom: 0rem;
        margin: 2rem;
        padding: 2rem;
        display: block;
        line-height: 1.5;
        font-size: 12px
    }
    .areaC{
        object-fit:contain;
        transform: scale(0.5);
        height: 100%;
        width: 100%;
        margin-right: 12rem;

    }
    .areaF{
        object-fit: cover;
        transform: scale(0.4);
        height: 100%;
        overflow:hidden;
    }
}
