/* CONTENIDO PRINCIPAL */
.main{
    background-color: #ffffff;
}
.box{
    background-image:url(../recursos/niño.jpg) ;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding:50px;
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
}
.box p{
    margin: 0rem;
    padding: 0;
    margin-left: 60rem;
    margin-right: 10rem;
    line-height: 1.2;
    font-size: 20px;
    font-family: arial;
    text-align:justify;
    text-justify: auto;
}
.boton_prin{
    margin-top: 10px;
    padding: 11px 11px;
    margin-left: 500px;
}
.contenido_extremo{
    display: grid;
    grid-template-columns: 600px 200px 200px;
    grid-template-rows: 70px 300px 70px 400px;
    gap: 0px 0px;
    grid-template-areas:
        "areaA areaA areaA"
        "areaB areaC areaC"
        "areaD areaD areaD"
        "areaF areaF areaE"
        ;
    }   
.areaA { grid-area: areaA; }   
.areaB { grid-area: areaB; }
.areaC { grid-area: areaC; }
.areaD { grid-area: areaD; }
.areaE { grid-area: areaE; }
.areaF { grid-area: areaF; }
.areaC{
    height: 100%;
    object-fit: cover;
    max-height: 100%;
    transform: scale(0.8);
}
.areaF{
    display: block;
    height: auto;
    object-fit: cover;
    max-height: 100%;
    overflow:hidden;
    transform: scale(0.9);
}
.areaB{
    margin: 2rem;
    padding: 1rem;
    display: block;
    margin-left: 3rem;
    margin-right: 10rem;
    line-height: 1.2;
    font-size: 16px;
    font-family: arial;
    text-align:justify;
    text-justify: auto;
}
.areaE{
    margin: 0rem;
    padding: 0;
    display: block;
    margin-left: 4rem;
    margin-right: -2rem;
    line-height: 1.2;
    font-size: 14px;
    font-family: arial;
    text-align:left;
    text-justify: auto;
}

.imagenes{
    display: flex;
}